<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="Rajhut.ico">
    <title>Ecosystem Team</title>
    <style type="text/css">
    [required] {
        box-shadow: 0 0 10px 1px #818181;
    }

    </style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
crossorigin="anonymous">
</head>
<body>
    <div class="container py-2">
        <h1>Kev & JEFF</h1>
        <br><br>
        <h1>Ingrese Datos</h1>
        <br><br>
        <form>
            <input id="nombre" type="text" placeholder="Ingresa Nombre" class="form-control-my-2" required>  &nbsp;
            <input id="apellido" type="text" placeholder="Ingresa Apellido" class="form-control-my-2" required> &nbsp;
            <input id="edad" type="number" placeholder="Ingresa Edad" class="form-control-my-2" required> &nbsp;
            <button id="boton" type="reset" class="btn btn-success" onclick="capturar();">Ingresar</button>
        
        </form>
    </div>
    <br><br>
    <div class="container">
        <table class="table table" id="tabla">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                </tr>
            </thead>
        </table>
    </div>
<script>  

function capturar(){
  
    function Persona(nombre, apellido, edad)
    {
            this.nombre= nombre;
            this.apellido= apellido;
            this.edad= edad;
    }

    var nomCap = document.getElementById("nombre").value;
    var apeCap = document.getElementById("apellido").value;
    var edaCap = document.getElementById("edad").value;;   
     
    if(nomCap == "" || apeCap=="" || edaCap=="")
    {
     alert("No deje casillas en blanco");
    }
    else if (nomCap.length< 3|| nomCap.length>10 )
    {
        alert("No debes ingresar nombres menores a 3 caracteres o mayores a 10");
    }
    else if (apeCap.length< 3|| apeCap.length>10 )
    {
        alert("No debes ingresar apellidos menores a 3 caracteres o mayores a 10");
    }
    else if (edaCap<1 ||  edaCap>150)
        {
            alert("Ingrese un rango de edad aceptable");
        }
    else{
    neoPersona= new Persona(nomCap,apeCap,edaCap);
    //console.log(neoPersona)
    agregar();
    }
}
var personas= [];
function agregar(){
    personas.push(neoPersona);
    //console.log(personas);        
    document.getElementById("tabla").innerHTML+= '<tbody><td>'+neoPersona.nombre+'</td><td>'+neoPersona.apellido+'</td><td>'+neoPersona.edad+'</td></tbody>';
}

</script>
</body>
</html>